.container
{
    display: grid;
    grid-template-columns: repeat(20,50px);
    grid-template-rows:repeat(20,50px) ;
}
.clock-body
{
    grid-column-start:6;
    grid-column-end: 16;
    grid-row-start: 6;
    grid-row-end: 16;
    
}
.clock{
    width: 500px;
    height: 500px;
    border: solid 10px black;
    border-radius: 50%;
    background: #0ff00f;
    display: inline-block;
    border-radius: 50%;
}
body{
text-align: center;
}
.sec
{
    height: 250px;
    width: 5px;
    left: 245px;
    background: #FF0000;
    z-index: 3;
    animation: sec_anim 60s linear infinite;
    border-radius: 40%;
   
}
.min
{
    height: 250px;
    width: 10px;
    left: 242.5px;
    background: rgb(14, 11, 201);
    top: -250px;
    z-index: 2;
    animation: min_anim 600s linear infinite;
    border-radius: 40%;
    
}
.hour
{
    height: 200px;
    width: 14px;
    left: 240px;
    /* background: rgba(29, 79, 187, 0); */
    z-index: 1;
    top: -450px;
    border: solid 1px black;
    background-color: rgb(145, 3, 90);
    animation: hour_anim 3600s linear infinite;
    border-radius: 40%;
   
}

.sec ,.min,.hour{
    line-height: 45px;
    position: relative;
    transform-origin:bottom ;
}
@keyframes sec_anim
{
    from{transform:rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
    
}

@keyframes min_anim
{
    from{transform:rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}
@keyframes hour_anim
{
    from{transform:rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}
.one ,.two , .three, .four,.five , .six, .seven,.eight,.nine,.ten,.eleven,.twelve
{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3.7em;
  position: relative;
  color: black;
  text-shadow: 0 0 10px white;
  z-index: 0;  
}
.one{
top: -680px;
left: 123px;
}
.two{
    top: -670px;
    left: 200px;
    }
.three{
    top: -640px;
    left: 228px;
}
.four{
    top: -620px;
    left: 190px;
}
.five{
    top: -630px;
    left: 116px;
}
.six{
    top: -680px;
  
}
.seven{        
    top: -780px;    
    left: -116px;    
}
.eight{
    top: -940px;
    left: -203px;
}
.nine{                
    top: -1100px;                
    left: -230px;                                
}
.ten{
    top: -1275px;
    left: -210px;
}
.eleven{
    top: -1460px;
    left: -123px;
}
.twelve{
    top: -1580px;
   
}    