.container
{
    display: grid;
    grid-template-columns: repeat(10,50px);
    grid-template-rows: repeat(10,50px);
}
.small_shit
{
    grid-column-start:5 ;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    display: block;
    background-color: darkred;
    border: solid 1px black;
 animation-name: rotate;
 animation-duration: 5s;
 border-radius: 50%;
    background-color: darkblue;
    padding: 50px;
}
.big_shit
{
    grid-column-start:3 ;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end:9 ;
    display: block;
    background-color: darkred;
    border: solid 1px black;

}
@keyframes rotate
{
    0%{
        transform: rotate(0);  
    transition: padding 10s;  
    animation-delay: 2s;
   }
        25%{
            transform: rotate(90deg);
            background-color: aquamarine;
          
            animation-delay: 2s;
        }
        50%
        {
            transform: rotate(180deg);
            background-color: beige;
          
            animation-delay: 2s;
        }
        75%
        {
            transform:rotate(270deg);
            background-color: black;
          
            animation-delay: 2s;
        }
    100%{
        transform: rotate(360deg);
        background-color: lightblue;
      
        animation-delay: 2s;
    }
    
}
.div :hover
{
    padding: 2rem;
    animation-delay: 1s;
    padding: 4rem;
    animation-delay: 1s;
    padding: 6rem;
    animation-delay: 1s;
    padding: 8rem;
    animation-delay: 1s;
}
